.homepage{
    background-image: url(../../assets/portfolio_background.webp);
    height:auto;
    max-height:min-content;

    &::before{
        content: "";
        position: absolute;
        width : 100%;
        background: inherit;
        height:90.7%;
        z-index: -1;
        box-shadow:inset none;
        filter        : blur(10px);
        -moz-filter   : blur(10px);
        -webkit-filter: blur(10px);
        -o-filter     : blur(10px);
    
        transition        : all 2s linear;
        -moz-transition   : all 2s linear;
        -webkit-transition: all 2s linear;
        -o-transition     : all 2s linear;
    }
}