.main{
    &__button{
        padding:17px;
        border-radius:30px;
        background-color:$primary-color;
        border:none;
        color:white;
        width:200px;
        transition:all 100ms ease-in;
        font-size:25px;
        &--secondary{
            border:none;
            background-color:$third-color;
            &:hover{
                background-color:$secondary-color-contrasted;
            }
        }
        &:hover{
            background-color:$primary-color-hover;
        }
    }
}